# PANDAS

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('nbaallelo.csv')

In [13]:
# df.head()
df.head(2) # Defaultnya 5

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.29483,NYK,Knicks,68,1300.0,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.70517,TRH,Huskies,66,1300.0,1293.2767,A,W,0.359935,NaN

In [5]:
df

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [6]:
df.shape # (jumlah_index, jumlah_kolom)

(126314, 23)

In [20]:
# Ngeset agar semua kolom kelihatan
pd.set_option("display.max.columns", None)
df.head(2)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0,1293.2767,40.29483,NYK,Knicks,68,1300.0,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0,1306.7233,41.70517,TRH,Huskies,66,1300.0,1293.2767,A,W,0.359935,NaN

In [19]:
pd.set_option("display.max.columns", 10)
df.head(2)

,gameorder,game_id,lg_id,_iscopy,year_id,...,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,...,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,...,1293.2767,A,W,0.359935,NaN

In [21]:
df.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [22]:
# Mau nyoba nampilin masing-masing tipe data
df.info()
# non-null itu berarti ada isinya yaa

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [23]:
df.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000
mean,31579.000000,0.500000,1988.200374,43.533733,0.063857,102.729982,1495.236055,1495.236055,41.707889,102.729982,1495.236055,1495.236055,0.500000
std,18231.927643,0.500002,17.582309,25.375178,0.244499,14.814845,112.139945,112.461687,10.627332,14.814845,112.139945,112.461687,0.215252
min,1.000000,0.000000,1947.000000,1.000000,0.000000,0.000000,1091.644500,1085.774400,10.152501,0.000000,1091.644500,1085.774400,0.020447
25%,15790.000000,0.000000,1975.000000,22.000000,0.000000,93.000000,1417.237975,1416.994900,34.103035,93.000000,1417.237975,1416.994900,0.327989
50%,31579.000000,0.500000,1990.000000,43.000000,0.000000,103.000000,1500.945550,1500.954400,42.113357,103.000000,1500.945550,1500.954400,0.500000
75%,47368.000000,1.000000,2003.000000,65.000000,0.000000,112.000000,1576.060000,1576.291625,49.635328,112.000000,1576.060000,1576.291625,0.672011
max,63157.000000,1.000000,2015.000000,108.000000,1.000000,186.000000,1853.104500,1853.104500,71.112038,186.000000,1853.104500,1853.104500,0.979553

In [24]:
df.head(2)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0,1293.2767,40.29483,NYK,Knicks,68,1300.0,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0,1306.7233,41.70517,TRH,Huskies,66,1300.0,1293.2767,A,W,0.359935,NaN

In [3]:
# Nampilin game id aja
# df['game_id'] # Ini gk ada table
df[['game_id', 'lg_id', 'pts']] # Ini ada table

             game_id lg_id  pts
0       194611010TRH   NBA   66
1       194611010TRH   NBA   68
2       194611020CHS   NBA   63
3       194611020CHS   NBA   47
4       194611020DTF   NBA   33
...              ...   ...  ...
126309  201506110CLE   NBA   82
126310  201506140GSW   NBA  104
126311  201506140GSW   NBA   91
126312  201506170CLE   NBA   97
126313  201506170CLE   NBA  105

[126314 rows x 3 columns]

In [29]:
df[['pts']].describe()

                 pts
count  126314.000000
mean      102.729982
std        14.814845
min         0.000000
25%        93.000000
50%       103.000000
75%       112.000000
max       186.000000

In [32]:
# Display precision
# pd.set_option('display.precision', 2)
pd.reset_option('display.precision', ) # Back to normal

In [34]:
df.describe(include=[object, int])

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,opp_id,opp_fran,opp_pts,game_location,game_result,notes
count,126314.000000,126314,126314,126314.000000,126314.000000,126314,126314.000000,126314.000000,126314,126314,126314.000000,126314,126314,126314.000000,126314,126314,5424
unique,NaN,63157,2,NaN,NaN,12426,NaN,NaN,104,53,NaN,104,53,NaN,3,2,231
top,NaN,194611010TRH,NBA,NaN,NaN,4/13/2011,NaN,NaN,BOS,Lakers,NaN,BOS,Lakers,NaN,H,L,at New York NY
freq,NaN,2,118016,NaN,NaN,30,NaN,NaN,5997,6024,NaN,5997,6024,NaN,63138,63157,440
mean,31579.000000,NaN,NaN,0.500000,1988.200374,NaN,43.533733,0.063857,NaN,NaN,102.729982,NaN,NaN,102.729982,NaN,NaN,NaN
std,18231.927643,NaN,NaN,0.500002,17.582309,NaN,25.375178,0.244499,NaN,NaN,14.814845,NaN,NaN,14.814845,NaN,NaN,NaN
min,1.000000,NaN,NaN,0.000000,1947.000000,NaN,1.000000,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN
25%,15790.000000,NaN,NaN,0.000000,1975.000000,NaN,22.000000,0.000000,NaN,NaN,93.000000,NaN,NaN,93.000000,NaN,NaN,NaN
50%,31579.000000,NaN,NaN,0.500000,1990.000000,NaN,43.000000,0.000000,NaN,NaN,103.000000,NaN,NaN,103.000000,NaN,NaN,NaN
75%,47368.000000,NaN,NaN,1.000000,2003.000000,NaN,65.000000,0.000000,NaN,NaN,112.000000,NaN,NaN,112.000000,NaN,NaN,NaN
max,63157.000000,NaN,NaN,1.000000,2015.000000,NaN,108.000000,1.000000,NaN,NaN,186.000000,NaN,NaN,186.000000,NaN,NaN,NaN

In [35]:
df['team_id']

0         TRH
1         NYK
2         CHS
3         NYK
4         DTF
         ...
126309    CLE
126310    GSW
126311    CLE
126312    CLE
126313    GSW
Name: team_id, Length: 126314, dtype: object

In [38]:
df['team_id'].value_counts() # Ngitung jumlah value

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
INJ      60
PIT      60
DTF      60
TRH      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [45]:
df['fran_id'].value_counts()

Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Waterloo          62
Denver            62
Falcons           60
Jets              60
Ironmen           60
Huskies           60
Name: fran_id, dtype: int64

In [48]:
# fran_lakers = df[df['fran_id'] == 'Lakers']
# fran_lakers
fran_lakers = df['fran_id'] == 'Lakers' #Alternatif
df[fran_lakers]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
1136,569,194811040BLB,NBA,1,1949,11/4/1948,1,0,MNL,Lakers,84,1527.0000,1542.2545,51.218754,BLB,Baltimore,72,1507.2052,1491.9507,A,W,0.386583,NaN
1152,577,194811060WSC,NBA,1,1949,11/6/1948,2,0,MNL,Lakers,62,1542.2545,1536.2078,50.621624,WSC,Capitols,67,1481.8721,1487.9188,A,L,0.443232,NaN
1159,580,194811090BOS,NBA,1,1949,11/9/1948,3,0,MNL,Lakers,55,1536.2078,1513.4880,48.341133,BOS,Celtics,77,1359.3345,1382.0542,A,L,0.608859,NaN
1170,586,194811110NYK,NBA,1,1949,11/11/1948,4,0,MNL,Lakers,77,1513.4880,1524.9596,49.499451,NYK,Knicks,68,1460.4232,1448.9517,A,W,0.432863,NaN
1183,592,194811130PRO,NBA,1,1949,11/13/1948,5,0,MNL,Lakers,90,1524.9596,1533.2726,50.330185,PRO,Steamrollers,67,1245.9456,1237.6326,A,W,0.737010,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126016,63009,201504080DEN,NBA,1,2015,4/8/2015,78,0,LAL,Lakers,101,1313.7802,1307.5118,21.921890,DEN,Nuggets,119,1415.0565,1421.3248,A,L,0.238914,NaN
126052,63027,201504100LAL,NBA,0,2015,4/10/2015,79,0,LAL,Lakers,106,1307.5118,1312.9532,22.371969,MIN,Timberwolves,98,1283.9249,1278.4835,H,W,0.670716,NaN
126086,63044,201504120LAL,NBA,0,2015,4/12/2015,80,0,LAL,Lakers,106,1312.9532,1305.9197,21.791288,DAL,Mavericks,120,1556.2162,1563.2498,H,L,0.304769,NaN
126115,63058,201504130SAC,NBA,1,2015,4/13/2015,81,0,LAL,Lakers,92,1305.9197,1301.3918,21.422607,SAC,Kings,102,1395.6000,1400.1278,A,L,0.251263,NaN
126137,63069,201504150LAL,NBA,0,2015,4/15/2015,82,0,LAL,Lakers,99,1301.3918,1283.2395,19.985550,SAC,Kings,122,1400.1278,1418.2802,H,L,0.501819,NaN

In [49]:
df[fran_lakers]['team_id'].value_counts()

LAL    5078
MNL     946
Name: team_id, dtype: int64

In [51]:
fran_nuggets = df['fran_id'] == 'Nuggets'
df[fran_nuggets]['team_id'].value_counts()

DEN    3312
DNR     614
DNA     194
Name: team_id, dtype: int64

In [53]:
# df[fran_lakers]['date_game']
df[fran_lakers]['date_game'].min()

'1/1/1949'

In [54]:
df[fran_lakers]['date_game'].max()

'6/9/2009'

In [55]:
mnl_team = df['team_id'] == 'MNL'
df[mnl_team]['date_game'].min()
df[mnl_team]['date_game'].max()

'4/9/1959'

In [56]:
df[mnl_team]['date_game'].agg(['min', 'max'])

min    1/1/1949
max    4/9/1959
Name: date_game, dtype: object

In [57]:
df[mnl_team]['pts'].agg(['min', 'max'])

min     18
max    139
Name: pts, dtype: int64

In [59]:
# implisit index
revenues = pd.Series([5555, 7000, 1980])
revenues

0    5555
1    7000
2    1980
dtype: int64

In [60]:
revenues.values

array([5555, 7000, 1980], dtype=int64)

In [61]:
revenues.index

RangeIndex(start=0, stop=3, step=1)

In [63]:
city_revenues = pd.Series(
    [4200, 8000, 6500],
    index=["Amsterdam", "Toronto", "Tokyo"]
)
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

In [65]:
# Positional index
city_revenues[0]

4200

In [66]:
# Label index
city_revenues['Amsterdam']

4200

In [69]:
city_revenues.keys

<bound method Series.keys of Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64>

In [70]:
city_employee_count = pd.Series({
    "Amsterdam": 5, "Tokyo" : 8
})
city_employee_count

Amsterdam    5
Tokyo        8
dtype: int64

In [71]:
"Tokyo" in city_employee_count

True

In [72]:
"New York" in city_employee_count

False

In [73]:
city_data = pd.DataFrame({
    "revenue" : city_revenues,
    'employee_count' : city_employee_count
})
city_data

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0
Toronto       8000             NaN

In [74]:
city_data.index

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [75]:
city_data.values

array([[4.2e+03, 5.0e+00],
       [6.5e+03, 8.0e+00],
       [8.0e+03,     nan]])

In [76]:
city_data.axes[0] # rows

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [78]:
city_data.axes[1] # columns

Index(['revenue', 'employee_count'], dtype='object')

In [82]:
city_data.keys()

Index(['revenue', 'employee_count'], dtype='object')

In [83]:
city_employee_count

Amsterdam    5
Tokyo        8
dtype: int64

In [84]:
city_employee_count.keys()

Index(['Amsterdam', 'Tokyo'], dtype='object')

In [85]:
df.index

RangeIndex(start=0, stop=126314, step=1)

In [86]:
df.axes

[RangeIndex(start=0, stop=126314, step=1),
 Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
        'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
        'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
        'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
       dtype='object')]

In [87]:
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

In [88]:
city_revenues['Toronto']

8000

In [89]:
city_revenues[1]

8000

In [91]:
colors = pd.Series([
    "red", "purple", 'blue', 'green', 'yellow'
], index=[1,2,3,5,8])
colors

1       red
2    purple
3      blue
5     green
8    yellow
dtype: object

In [92]:
colors.loc[1] # Lokasi berdasarkan label

'red'

In [93]:
colors.iloc[0] # Lokasi berdasarkan index

'red'

In [94]:
colors.iloc[1:3]

2    purple
3      blue
dtype: object

In [95]:
"""
Slicin list python : start inclusive, stopnya exclusive
slicing loc : start inclusive, stopnya inclusive
slcing iloc : start inclusive, stopnya inclusive
"""

'\nSlicin list python : start inclusive, stopnya exclusive\nslicing loc : start inclusive, stopnya inclusive\nslcing iloc : start inclusive, stopnya inclusive\n'

In [96]:
city_data.loc["Amsterdam"]

revenue           4200.0
employee_count       5.0
Name: Amsterdam, dtype: float64

In [97]:
city_data.loc["Amsterdam" : "Tokyo"]

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0

In [98]:
city_data.iloc[1]

revenue           6500.0
employee_count       8.0
Name: Tokyo, dtype: float64

In [99]:
df.iloc[-2010]

gameorder               62153
game_id          201412080WAS
lg_id                     NBA
_iscopy                     0
year_id                  2015
date_game           12/8/2014
seasongame                 20
is_playoffs                 0
team_id                   WAS
fran_id               Wizards
pts                       133
elo_i               1560.8662
elo_n               1562.0968
win_equiv           46.994286
opp_id                    BOS
opp_fran              Celtics
opp_pts                   132
opp_elo_i           1401.8522
opp_elo_n           1400.6216
game_location               H
game_result                 W
forecast             0.816229
notes                     NaN
Name: 124304, dtype: object

In [101]:
df.loc[124304]

gameorder               62153
game_id          201412080WAS
lg_id                     NBA
_iscopy                     0
year_id                  2015
date_game           12/8/2014
seasongame                 20
is_playoffs                 0
team_id                   WAS
fran_id               Wizards
pts                       133
elo_i               1560.8662
elo_n               1562.0968
win_equiv           46.994286
opp_id                    BOS
opp_fran              Celtics
opp_pts                   132
opp_elo_i           1401.8522
opp_elo_n           1400.6216
game_location               H
game_result                 W
forecast             0.816229
notes                     NaN
Name: 124304, dtype: object

In [104]:
fran_nuggetsa = df['fran_id'] == 'Nuggets'
df[fran_nuggets].loc[['team_id']]

KeyError: "None of [Index(['team_id'], dtype='object')] are in the [index]"

In [105]:
city_data.loc["Amsterdam":"Tokyo", 'revenue']

Amsterdam    4200
Tokyo        6500
Name: revenue, dtype: int64

In [106]:
city_data.loc["Amsterdam":"Tokyo",[ 'revenue', 'employee_count']]

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0

In [109]:
game_after_2010 = df["year_id"] > 2010
current_decade = df[game_after_2010]
current_decade

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
113656,56829,201010260BOS,NBA,1,2011,10/26/2010,1,0,MIA,Heat,80,1547.3638,1543.1600,45.141479,BOS,Celtics,88,1625.0994,1629.3031,A,L,0.264418,NaN
113657,56829,201010260BOS,NBA,0,2011,10/26/2010,1,0,BOS,Celtics,88,1625.0994,1629.3031,53.754559,MIA,Heat,80,1547.3638,1543.1600,H,W,0.735582,NaN
113658,56830,201010260LAL,NBA,1,2011,10/26/2010,1,0,HOU,Rockets,110,1504.1956,1502.5969,40.900764,LAL,Lakers,112,1647.6016,1649.2002,A,L,0.197632,NaN
113659,56830,201010260LAL,NBA,0,2011,10/26/2010,1,0,LAL,Lakers,112,1647.6016,1649.2002,55.608730,HOU,Rockets,110,1504.1956,1502.5969,H,W,0.802368,NaN
113660,56831,201010260POR,NBA,1,2011,10/26/2010,1,0,PHO,Suns,92,1643.0225,1630.6204,53.879230,POR,Trailblazers,106,1552.8141,1565.2162,A,L,0.485912,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [110]:
# filter
filter_not_null = df["notes"].notnull()
games_with_notes = df[filter_not_null]
games_with_notes

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
930,466,194801300BLB,NBA,1,1948,1/30/1948,28,0,WSC,Capitols,71,1469.3469,1454.9012,47.065742,BLB,Baltimore,95,1434.0548,1448.5005,A,L,0.407940,at Baltimore's Fifth Regiment Armory
931,466,194801300BLB,NBA,0,1948,1/30/1948,31,0,BLB,Baltimore,95,1434.0548,1448.5005,46.407490,WSC,Capitols,71,1469.3469,1454.9012,H,W,0.592060,at Baltimore's Fifth Regiment Armory
1084,543,194803230CHS,NBA,1,1948,3/23/1948,49,1,WSC,Capitols,70,1465.9006,1461.1990,47.710297,CHS,Stags,74,1440.7186,1445.4203,A,L,0.393962,Tiebreaker
1085,543,194803230CHS,NBA,0,1948,3/23/1948,49,1,CHS,Stags,74,1440.7186,1445.4203,46.089687,WSC,Capitols,70,1465.9006,1461.1990,H,W,0.606038,Tiebreaker
1088,545,194803250CHS,NBA,1,1948,3/25/1948,49,1,BLB,Baltimore,75,1477.2552,1484.3137,50.044666,CHS,Stags,72,1445.4203,1438.3618,A,W,0.403142,Tiebreaker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122207,61104,201401160ATL,NBA,0,2014,1/16/2014,39,0,ATL,Hawks,110,1505.0525,1487.5908,39.239410,BRK,Nets,127,1454.6501,1472.1118,N,L,0.572030,"at London, England"
123916,61959,201411120MIN,NBA,1,2015,11/12/2014,8,0,HOU,Rockets,113,1635.7723,1642.4540,54.894760,MIN,Timberwolves,101,1502.9229,1496.2412,N,W,0.682383,"at Mexico City Arena, Mexico City, Mexico"
123917,61959,201411120MIN,NBA,0,2015,11/12/2014,7,0,MIN,Timberwolves,101,1502.9229,1496.2412,40.129723,HOU,Rockets,113,1635.7723,1642.4540,N,L,0.317617,"at Mexico City Arena, Mexico City, Mexico"
124862,62432,201501150MIL,NBA,0,2015,1/15/2015,40,0,MIL,Bucks,95,1499.9038,1505.8629,41.138866,NYK,Knicks,79,1304.4620,1298.5029,N,W,0.754925,"at The O2, London, England"
124863,62432,201501150MIL,NBA,1,2015,1/15/2015,41,0,NYK,Knicks,79,1304.4620,1298.5029,21.189493,MIL,Bucks,95,1499.9038,1505.8629,N,L,0.245075,"at The O2, London, England"

In [111]:
ers = df[df["fran_id"].str.endswith("ers")]
ers

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,59,1300.0000,1305.1542,41.540619,BOS,Celtics,53,1300.0000,1294.8458,H,W,0.640065,NaN
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,56,1300.0000,1304.6908,41.492020,PIT,Ironmen,51,1300.0000,1295.3092,H,W,0.640065,NaN
16,9,194611050DTF,NBA,1,1947,11/5/1946,2,0,STB,Bombers,53,1304.6908,1312.8473,42.347137,DTF,Falcons,49,1279.6189,1271.4624,A,W,0.393811,NaN
20,11,194611070PRO,NBA,0,1947,11/7/1946,2,0,PRO,Steamrollers,73,1305.1542,1311.5032,42.206284,CHS,Stags,65,1316.0840,1309.7350,H,W,0.625446,NaN
22,12,194611070STB,NBA,0,1947,11/7/1946,3,0,STB,Bombers,63,1312.8473,1302.5988,41.272594,NYK,Knicks,68,1297.0712,1307.3197,H,L,0.660710,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126304,63153,201506070GSW,NBA,1,2015,6/7/2015,98,1,CLE,Cavaliers,95,1708.1705,1716.8708,61.312763,GSW,Warriors,93,1806.2035,1797.5032,A,W,0.242326,NaN
126307,63154,201506090CLE,NBA,0,2015,6/9/2015,99,1,CLE,Cavaliers,96,1716.8708,1723.4149,61.826408,GSW,Warriors,91,1797.5032,1790.9591,H,W,0.527843,NaN
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN

In [113]:
df[
    (df["_iscopy"] == 0) &
    (df["pts"] > 100)
]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
416,209,194702060CHS,NBA,0,1947,2/6/1947,38,0,CHS,Stags,109,1366.5396,1372.1686,48.485294,PIT,Ironmen,85,1206.1873,1200.5582,H,W,0.817382,NaN
561,281,194703080CHS,NBA,0,1947,3/8/1947,50,0,CHS,Stags,107,1408.0520,1414.6996,52.697613,PRO,Steamrollers,81,1268.2170,1261.5695,H,W,0.799088,NaN
643,322,194703260WSC,NBA,0,1947,3/26/1947,59,0,WSC,Capitols,105,1507.9979,1516.3644,61.630302,CHS,Stags,77,1402.2272,1393.8607,H,W,0.765758,NaN
872,437,194801100WSC,NBA,0,1948,1/10/1948,22,0,WSC,Capitols,106,1471.1442,1474.8654,49.096939,PHW,Warriors,99,1384.2031,1380.4819,H,W,0.745759,NaN
946,474,194802040NYK,NBA,0,1948,2/4/1948,33,0,NYK,Knicks,108,1426.4344,1433.0016,44.802452,PRO,Steamrollers,69,1229.4822,1222.9150,H,W,0.846758,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126297,63149,201505250HOU,NBA,0,2015,5/25/2015,98,1,HOU,Rockets,128,1643.4324,1658.9934,56.407814,GSW,Warriors,115,1813.4543,1797.8933,H,W,0.400573,NaN
126298,63150,201505260CLE,NBA,0,2015,5/26/2015,96,1,CLE,Cavaliers,118,1703.7124,1712.1232,60.934734,ATL,Hawks,88,1589.2021,1580.7914,H,W,0.774661,NaN
126301,63151,201505270GSW,NBA,0,2015,5/27/2015,97,1,GSW,Warriors,104,1797.8933,1802.2509,67.324539,HOU,Rockets,90,1658.9934,1654.6359,H,W,0.798222,NaN
126303,63152,201506040GSW,NBA,0,2015,6/4/2015,98,1,GSW,Warriors,108,1802.2509,1806.2035,67.566650,CLE,Cavaliers,100,1712.1232,1708.1705,H,W,0.749221,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN

In [114]:
city_revenues.sum()

18700

In [115]:
city_revenues.max()

8000

In [116]:
city_revenues.min()

4200

In [117]:
city_revenues.mean()

6233.333333333333

In [118]:
city_revenues.median()

6500.0

In [119]:
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

In [122]:
points = df['pts']
# points # n rows of data pts
points.sum()

12976235

In [126]:
# df.groupby('fran_id', sort=False)['pts'].sum()
df.groupby('fran_id', sort=False)['pts'].sum().sort_values()

fran_id
Ironmen           3674
Falcons           3797
Huskies           3995
Rebels            4474
Jets              4482
Denver            4818
Waterloo          4921
Redskins          5372
Packers           6193
Steamrollers     12372
Bombers          17793
Stags            20398
Capitols         22387
Olympians        22864
Sails            30080
Baltimore        37219
Floridians       49568
Condors          49642
Sounds           75582
Hornets          84489
Stars            84940
Spirits          85874
Squires          91127
Colonels         94435
Grizzlies       157683
Raptors         158370
Timberwolves    207693
Magic           219436
Pelicans        220794
Heat            229103
Mavericks       309239
Jazz            363155
Cavaliers       380416
Clippers        380523
Trailblazers    402695
Nets            417809
Bucks           418326
Rockets         432504
Bulls           437269
Suns            437486
Thunder         437735
Pacers          438288
Nuggets         445780
Spurs           453822
Wizards         474809
Hawks           567261
Kings           569245
Pistons         572758
Knicks          582497
Sixers          585891
Warriors        591224
Celtics         626484
Lakers          637444
Name: pts, dtype: int64

In [127]:
df.groupby('team_id', sort=False)['pts'].sum().sort_values()

team_id
SDS      1087
PIT      3674
DTF      3797
TRH      3995
CLR      4474
        ...
PHI    472991
DET    516438
LAL    549215
NYK    582497
BOS    626484
Name: pts, Length: 104, dtype: int64

In [128]:
type(city_revenues)

pandas.core.series.Series

In [130]:
df[
    (df["fran_id"] == 'Spurs') &
    (df["year_id"] > 2010)
].groupby(["game_result"])["game_id"].count()

game_result
L    133
W    332
Name: game_id, dtype: int64

In [131]:
df[
    (df["fran_id"] == 'Warriors') &
    (df["year_id"] == 2015)
].groupby(['game_result'])['game_id'].count()

game_result
L    20
W    83
Name: game_id, dtype: int64

In [132]:
df.shape

(126314, 23)

In [133]:
nba = df.copy()
nba.shape

(126314, 23)

In [137]:
nba['difference'] = nba["pts"] - nba["opp_pts"]

In [138]:
nba.shape

(126314, 24)

In [139]:
nba.head(2)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0,1293.2767,40.29483,NYK,Knicks,68,1300.0,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0,1306.7233,41.70517,TRH,Huskies,66,1300.0,1293.2767,A,W,0.359935,NaN,2

In [140]:
nba["difference"].max()

68

In [141]:
renamed_nba = nba.rename(
    columns={"game_result": "result", 
             "game_location" : "location"} 
)

In [142]:
renamed_nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 24 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   gameorder    126314 non-null  int64
 1   game_id      126314 non-null  object
 2   lg_id        126314 non-null  object
 3   _iscopy      126314 non-null  int64
 4   year_id      126314 non-null  int64
 5   date_game    126314 non-null  object
 6   seasongame   126314 non-null  int64
 7   is_playoffs  126314 non-null  int64
 8   team_id      126314 non-null  object
 9   fran_id      126314 non-null  object
 10  pts          126314 non-null  int64
 11  elo_i        126314 non-null  float64
 12  elo_n        126314 non-null  float64
 13  win_equiv    126314 non-null  float64
 14  opp_id       126314 non-null  object
 15  opp_fran     126314 non-null  object
 16  opp_pts      126314 non-null  int64
 17  opp_elo_i    126314 non-null  float64
 18  opp_elo_n    126314 non-null  float64
 19  location     126314 non-null  object
 20  result       126314 non-null  object
 21  forecast     126314 non-null  float64
 22  notes        5424 non-null    object
 23  difference   126314 non-null  int64
dtypes: float64(6), int64(8), object(10)
memory usage: 23.1+ MB

In [146]:
nba.shape

(126314, 24)

In [147]:
# nba.drop('elo_i', axis=1)
nba.drop('elo_i', axis=1, inplace=True)

In [148]:
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN,-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN,-21
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN,13
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN,-13
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN,-8
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN,8

In [149]:
elo_columns = ['elo_n', 'opp_elo_i', 'opp_elo_n']
nba.drop(elo_columns, axis=1, inplace=True)

In [150]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  win_equiv      126314 non-null  float64
 12  opp_id         126314 non-null  object
 13  opp_fran       126314 non-null  object
 14  opp_pts        126314 non-null  int64
 15  game_location  126314 non-null  object
 16  game_result    126314 non-null  object
 17  forecast       126314 non-null  float64
 18  notes          5424 non-null    object
 19  difference     126314 non-null  int64
dtypes: float64(2), int64(8), object(10)
memory usage: 19.3+ MB

In [151]:
nba["game_location"].unique()

array(['H', 'A', 'N'], dtype=object)

In [152]:
nba["game_location"].nunique()

3

In [153]:
nba["game_location"].value_counts()

H    63138
A    63138
N       38
Name: game_location, dtype: int64

In [154]:
nba["game_location"] = pd.Categorical(nba["game_location"])

In [155]:
nba["game_location"].dtype

CategoricalDtype(categories=['A', 'H', 'N'], ordered=False)

In [156]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  win_equiv      126314 non-null  float64
 12  opp_id         126314 non-null  object
 13  opp_fran       126314 non-null  object
 14  opp_pts        126314 non-null  int64
 15  game_location  126314 non-null  category
 16  game_result    126314 non-null  object
 17  forecast       126314 non-null  float64
 18  notes          5424 non-null    object
 19  difference     126314 non-null  int64
dtypes: category(1), float64(2), int64(8), object(9)
memory usage: 18.4+ MB

In [160]:
rows_without_missing_data = nba.dropna()
rows_without_missing_data.shape

(5424, 20)

In [162]:
data_without_missing_columns = nba.dropna(axis=1)
data_without_missing_columns

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,win_equiv,opp_id,opp_fran,opp_pts,game_location,game_result,forecast,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,40.294830,NYK,Knicks,68,H,L,0.640065,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,41.705170,TRH,Huskies,66,A,W,0.359935,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,42.012257,NYK,Knicks,47,H,W,0.631101,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,40.692783,CHS,Stags,63,A,L,0.368899,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,38.864048,WSC,Capitols,50,H,L,0.640065,-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,60.309792,GSW,Warriors,103,H,L,0.546572,-21
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,68.013329,CLE,Cavaliers,91,H,W,0.765565,13
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,60.010067,GSW,Warriors,104,A,L,0.234435,-13
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,59.290245,GSW,Warriors,105,H,L,0.481450,-8
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,68.519516,CLE,Cavaliers,97,A,W,0.518550,8

In [163]:
data_with_default_notes = df.copy()
data_with_default_notes.shape

(126314, 23)

In [164]:
data_with_default_notes['notes'].fillna(
value="no notes at all",
    inplace=True
)

In [165]:
data_with_default_notes['notes']

0         no notes at all
1         no notes at all
2         no notes at all
3         no notes at all
4         no notes at all
               ...
126309    no notes at all
126310    no notes at all
126311    no notes at all
126312    no notes at all
126313    no notes at all
Name: notes, Length: 126314, dtype: object

In [166]:
nba[nba["pts"] == 0]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,win_equiv,opp_id,opp_fran,opp_pts,game_location,game_result,forecast,notes,difference
26684,13343,197210260VIR,ABA,1,1973,10/26/1972,7,0,DNR,Nuggets,0,40.408863,VIR,Squires,2,A,L,0.328948,at Richmond VA; forfeit to VIR,-2

In [169]:
city_countries = pd.DataFrame(
    {
        "country": ["Holland", "Japan", "Holland", "Canada"]
    }, index=["Amsterdam", "Tokyo", "Rotterdam", "Toronto"]
)
city_countries

           country
Amsterdam  Holland
Tokyo        Japan
Rotterdam  Holland
Toronto     Canada